{
  ApplicationName = "Jigsaw";
  ApplicationDescription = "A GNUstep Jigsaw Puzzle Program";
  ApplicationRelease = "0.8";
  FullVersionID = "0.8";
  Authors = ("Marko Riedel <markoriedelde@yahoo.de>");
  Copyright = "Copyright (C) 2007-2011 Free Software Foundation, Inc.";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
  NSIcon = "GPuzzle2.tiff";
  NSTypes = (
        {
             NSName = "jigsaw";
             NSHumanReadableName = "JIGSAW Document";
             NSUnixExtensions = ("jigsaw");
             NSRole = Editor;
             NSDocumentClass = Document;
        },
        {
             NSName = "tiff";
             NSHumanReadableName = "TIFF Image";
             NSUnixExtensions = ("tiff", "TIFF");
             NSRole = Viewer;
             NSDocumentClass = Document;
        },
        {
             NSName = "png";
             NSHumanReadableName = "PNG Image";
             NSUnixExtensions = ("png", "PNG");
             NSRole = Viewer;
             NSDocumentClass = Document;
        },
        {
             NSName = "jpeg";
             NSHumanReadableName = "JPEG Image";
             NSUnixExtensions = ("jpg", "JPG", "jpeg", "JPEG");
             NSRole = Viewer;
             NSDocumentClass = Document;
        }
  );              
}

