{
	ApplicationDescription = "GUI for various compressed file formats";
	ApplicationName = "Zipper";
	ApplicationRelease = "1.5";
	ApplicationURL = "http://gap.nongnu.org/zipper/";
	NSIcon = "zipper.tiff";
	NSMainNibFile = MainMenu.gorm;
	NSPrincipalClass = NSApplication;
	Authors = ("The GAP Team", "Dirk Olmes <dirk@xanthippe.ping.de>");
	Copyright = "Copyright (C) 2008-2013";
 	CopyrightDescription = "Released under GPLv2 or later";
	NSTypes = (
		{
			NSName = "Ace";
			NSHumanReadableName = "Ace Archive";
			NSUnixExtensions = ( "ace", "ACE" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Arj";
			NSHumanReadableName = "Arj Archive";
			NSUnixExtensions = ( "arj", "ARJ" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Zoo";
			NSHumanReadableName = "Zoo Archive";
			NSUnixExtensions = ( "zoo", "ZOO" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Zip";
			NSHumanReadableName = "Zip Archive";
			NSUnixExtensions = ( "zip", "ZIP", "jar", "JAR", "ear", "EAR" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "7Zip";
			NSHumanReadableName = "7Zip Archive";
			NSUnixExtensions = ( "7z", "7Z", "7za", "7ZA" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Tar";
			NSHumanReadableName = "Tar Archive";
			NSUnixExtensions = ( "tar", "TAR" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "TarGz";
			NSHumanReadableName = "Compressed Tar Archive";
			NSUnixExtensions = ( "gz", "GZ", "tgz", "TGZ" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "TarBz2";
			NSHumanReadableName = "Compressed Tar Archive";
			NSUnixExtensions = ( "bz2", "BZ2", "tbz2", "TBZ2" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Rar";
			NSHumanReadableName = "Rar Archive";
			NSUnixExtensions = ( "rar", "RAR" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Lha";
			NSHumanReadableName = "Lha Archive";
			NSUnixExtensions = ( "lha", "LHA" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		},
		{
			NSName = "Lzx";
			NSHumanReadableName = "Lzx Archive";
			NSUnixExtensions = ( "lzx", "LZX" );
			NSIcon = "FileIcon.tiff";
			NSDocumentClass = "ZipperDocument";
			NSRole = "Editor";
		}
	);
	
	NSServices = (
		{
			NSPortName = "Zipper";
			NSMessage = "createZooArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create zoo archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "create7zArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create 7z archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createLhaArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create lha archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createZipArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create zip archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createTarArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create tar archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createZippedTarArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create tar.gz archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createBZippedTarArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create tar.bz2 archive"; 
			};
		},
		{
			NSPortName = "Zipper";
			NSMessage = "createXzTarArchive";
			NSSendTypes = (NSFilenamesPboardType);
			NSMenuItem = { 
				default = "Zipper/Create tar.xz archive"; 
			};
		}
	);
}
