{
    ApplicationDescription = "Vector drawing";
    ApplicationIcon = graphos_appicon_48.tif;
    ApplicationName = Graphos;
    ApplicationRelease = 0.1;
    Authors = (
	"Riccardo Mottola",
	"Enrico Sersale",
	"Rob Burns"
    );
    Copyright = "Copyright (C) 2005-2009";
    CopyrightDescription = "Released under GPL";
    FullVersionID = 0.1;
    NSExecutable = Graphos;
    NSIcon = graphos_appicon_48.tif;
    NSMainNibFile = MainMenu.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = GRDocument;
	    NSHumanReadableName = "Graphos drawing";
	    NSIcon = graphos_doc_icon_48.tif;
	    NSName = "graphos design";
	    NSRole = Editor;
	    NSUnixExtensions = (
		gdr
	    );
	}
    );
}