<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gdr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>graphos_doc_icons</string>
			<key>CFBundleTypeName</key>
			<string>graphos design</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>GRDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Graphos</string>
	<key>CFBundleHelpBookFolder</key>
	<string>HTMLHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Graphos Help</string>
	<key>CFBundleIconFile</key>
	<string>graphos_icons</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnustep.Graphos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
