{
    ApplicationDescription = "A Terminal Emulator";
    ApplicationIcon = Terminal;
    ApplicationName = Terminal;
    ApplicationRelease = "0.9.8";
    ApplicationURL = "http://gap.nongnu.org/terminal/index.html";
    Authors = ("Alexander Malmberg <alex@malmberg.org>","Gregory Casamento <greg.casamento@gmail.com>","Riccardo Mottola <rmottola@users.sf.net>");
    Copyright = "Copyright \u00a9 2002-2003, 2009-2016";
    CopyrightDescription = "Released under the GNU GPL. See COPYING for details.";
    FullVersionID = "0.9.8";
    CFBundleIdentifier = org.gap.Terminal;
}

