{
  ApplicationDescription = "A garma puzzle game";
  ApplicationName = LapisPuzzle;
  ApplicationIcon = LapisPuzzle;
  ApplicationRelease = "0.9.1";
  Authors = ("Banlu Kemiyatorn <object@gmail.com>");
  Copyright = "Copyright \u00a9 2004 by Banlu Kemiyatorn <object@gmail.com>";
  CopyrightDescription = "Released under the GNU General Public License 2.0 and later version";
  URL = "http://maliwan.sourceforge.net/lapispuzzle.html";
  FullVersionID = "0.9.1";
}

