{
  ApplicationDescription = "A garma puzzle game";
  ApplicationName = LapisPuzzle;
  ApplicationIcon = LapisPuzzle;
  ApplicationRelease = "1.2";
  Authors = ("GAP Team","Banlu Kemiyatorn <object@gmail.com>");
  Copyright = "Copyright \u00a9 2004-2011 GNUstep Application Project";
  CopyrightDescription = "Released under the GNU General Public License 2.0 and later version";
  URL = "http://gap.nongnu.org/lapispuzzle/index.html";
  FullVersionID = "1.2";
}

