{
    GSThemeAuthors = (
	"Riccardo Mottola"
    );
    GSThemeDetails = "Think dark. A dark theme, blue details with a red accent and. Does it remember you classic ThinkPads?";
    GSThemeDomain = {
    };
    GSThemeIcon = "Thematic.png";
    GSThemeLicense = "GPL v2+";
    GSThemePreview = "thinkdark_preview_128.tif";
    GSThemeTiles = {
    };
    GSThemeVersion = "0.0";
}