{
    ApplicationDescription = "PDF-PS viewer";
    ApplicationIcon = "GSPdf.tiff";
    ApplicationName = GSPdf;
    ApplicationRelease = "0.5";
    Authors = (
	"GAP Team",
	"Riccardo Mottola",
	"Enrico Sersale (Original Author)"
    );
    CFBundleIdentifier = "org.gap.GSPdf";
    Copyright = "Copyright (C) 2002-2018";
    CopyrightDescription = "Released under the GNU General Public License v2.0";
    FullVersionID = "0.5";
    NSExecutable = GSPdf;
    NSIcon = "GSPdf.tiff";
    NSMainNibFile = "GSPdf.gorm";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = "FilePS.tiff";
	    NSName = PS;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		ps,
		PS
	    );
	},
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = "FileEPS.tiff";
	    NSName = EPS;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		eps,
		EPS
	    );
	},
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPDFPboardType;
	    NSIcon = "FilePDF.tiff";
	    NSName = PDF;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		pdf,
		PDF
	    );
	}
    );
    URL = "http://gap.nongnu.org/gspdf/";
}