{
    ApplicationDescription = "PDF-PS viewer";
    ApplicationIcon = GSPdf.tiff;
    ApplicationName = GSPdf;
    ApplicationRelease = 0.2;
    Authors = (
	"GAP Team",
	"Riccardo Mottola",
	"Enrico Sersale (Original Author)"
    );
    Copyright = "Copyright (C) 2002-2009";
    CopyrightDescription = "Released under the GNU General Public License v2.0";
    FullVersionID = 0.2;
    NSExecutable = GSPdf;
    NSIcon = GSPdf.tiff;
    NSMainNibFile = GSPdf.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = FilePS.tiff;
	    NSRole = Editor;
	    NSUnixExtensions = (
		ps,
		PS
	    );
	},
	{
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = FileEPS.tiff;
	    NSRole = Editor;
	    NSUnixExtensions = (
		eps,
		EPS
	    );
	},
	{
	    NSHumanReadableName = NSPDFPboardType;
	    NSIcon = FilePDF.tiff;
	    NSRole = Editor;
	    NSUnixExtensions = (
		pdf,
		PDF
	    );
	}
    );
    URL = "http://gap.nongnu.org/gspdf/";
}