{
  ApplicationName = "GMastermind";
  ApplicationDescription = "GNUstep mastermind game";
  ApplicationRelease = "0.6";
  FullVersionID = "0.6";
  Authors = ("Marko Riedel <mriedel@neuearbeit.de>");
  Copyright = "Copyright (C) 2002-2011 Free Software Foundation, Inc.";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
  NSIcon = "GMastermind.tiff";
  NSMainNibFile = GMastermind.gorm;
}

