{
  NSExecutable = "Chess";
  NSMainNibFile = "Chess";
  GSMainMarkupFile = "";
  NSPrincipalClass = "Chess";
  NSIcon = "ChessApp.tiff";

  CFBundleDocumentTypes = (
	{
            CFBundleTypeName = "chess";
            CFBundleTypeRole = Editor;
            CFBundleTypeIconFile = (chess.icns);
            CFBundleTypeExtensions = (chess);
	}    
  );  
}
