<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>BuildVersion</key>
	<string>2003/08/30</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.7</string>
	<key>CFBundleVersion</key>
	<string>0.5.7</string>
	<key>ProjectName</key>
	<string>FlexiSheet</string>
	<key>ReleaseStatus</key>
	<string>Beta</string>
	<key>SourceVersion</key>
	<string>6</string>
</dict>
</plist>
