{
    ApplicationDescription = "GNUstep minesweeper game";
    ApplicationIcon = "GMines.tiff";
    ApplicationName = GMines;
    ApplicationRelease = "0.2";
    Authors = (
	"Marko Riedel"
    );
    Copyright = "Copyright (C) 2002-2011 Free Software Foundation, Inc";
    CopyrightDescription = "Released under GPL v2";
    FullVersionID = "0.2";
    NSExecutable = GMines;
    NSIcon = "GMines.tiff";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://gap.nongnu.org/gmines/";
}