{
    GSThemeAuthors = (
	"Riccardo Mottola"
    );
    GSThemeDetails = "Evoking Sun Solaris CDE";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = NO;
    };
    GSThemeIcon = "Thematic.png";
    GSThemeLicense = "GPL v2+";
    GSThemePreview = "neos_preview_128.tif";
    GSThemeTiles = {
    };
    GSThemeVersion = "0.3";
}
