<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeatherData</key>
	<array>
		<dict>
			<key>keepRight</key>
			<true/>
			<key>key</key>
			<string>Forecast City</string>
			<key>left</key>
			<string>Point Forecast:</string>
			<key>onFail</key>
			<string>goto 8</string>
			<key>right</key>
			<string>&amp;nbsp;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast Location</string>
			<key>left</key>
			<string>nbsp;</string>
			<key>right</key>
			<string>&lt;</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast Date</string>
			<key>left</key>
			<string>Last Update:</string>
			<key>right</key>
			<string>Forecast</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>count</key>
			<integer>4</integer>
			<key>key</key>
			<string>repeat</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast</string>
			<key>left</key>
			<string>td width="11%"&gt;</string>
			<key>right</key>
			<string>&lt;/b&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-image</string>
			<key>left</key>
			<string>wtf/</string>
			<key>right</key>
			<string>.jpg</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-description</string>
			<key>left</key>
			<string>&gt;</string>
			<key>right</key>
			<string>&lt;font</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-temperature</string>
			<key>left</key>
			<string>"&gt;</string>
			<key>right</key>
			<string>&amp;deg</string>
		</dict>
		<dict>
			<key>key</key>
			<string>City</string>
			<key>left</key>
			<string>and satellite down."&gt;</string>
			<key>onFail</key>
			<string>stop</string>
			<key>right</key>
			<string>&lt;/span&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Location</string>
			<key>left</key>
			<string>&lt;br&gt;</string>
			<key>right</key>
			<string>&lt;br&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Date</string>
			<key>left</key>
			<string>Last Update on</string>
			<key>right</key>
			<string>&lt;br&gt;</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Description</string>
			<key>left</key>
			<string>&lt;tr&gt;</string>
			<key>right</key>
			<string>&lt;br&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Temperature</string>
			<key>left</key>
			<string>&lt;br&gt;</string>
			<key>right</key>
			<string>&amp;deg</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Humidity</string>
			<key>left</key>
			<string>Humidity&lt;/b&gt;:</string>
			<key>right</key>
			<string>%</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Wind</string>
			<key>left</key>
			<string>Speed&lt;/b&gt;:</string>
			<key>right</key>
			<string>MPH</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Pressure</string>
			<key>left</key>
			<string>Barometer&lt;/b&gt;:</string>
			<key>right</key>
			<string>&amp;quot</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Heat Index</string>
			<key>left</key>
			<string>Index&lt;/b&gt;:</string>
			<key>right</key>
			<string>&amp;deg</string>
			<key>stripTags</key>
			<true/>
		</dict>
	</array>
	<key>WeatherImages</key>
	<dict>
		<key>bkn</key>
		<string>mcloudy.png</string>
		<key>ovc</key>
		<string>mcloudy.png</string>
		<key>blizzard</key>
		<string>blizzard.png</string>
		<key>cold</key>
		<string>na.png</string>
		<key>du</key>
		<string>na.png</string>
		<key>few</key>
		<string>hazy.png</string>
		<key>fg</key>
		<string>fog.png</string>
		<key>nbknfg</key>
		<string>fog.png</string>
		<key>fzra</key>
		<string>freezingrain.png</string>
		<key>hi_nshwrs</key>
		<string>showers.png</string>
		<key>hi_ntrsa</key>
		<string>chancetstormn.png</string>
		<key>hi_ntsra10</key>
		<string>chancetstormn.png</string>
		<key>hi_ntsra100</key>
		<string>tstormn.png</string>
		<key>hi_ntsra20</key>
		<string>chancetstormn.png</string>
		<key>hi_ntsra30</key>
		<string>chancetstormn.png</string>
		<key>hi_ntsra40</key>
		<string>chancetstormn.png</string>
		<key>hi_ntsra50</key>
		<string>tstormn.png</string>
		<key>hi_ntsra60</key>
		<string>tstormn.png</string>
		<key>hi_ntsra70</key>
		<string>tstormn.png</string>
		<key>hi_ntsra80</key>
		<string>tstormn.png</string>
		<key>hi_ntsra90</key>
		<string>tstormn.png</string>
		<key>hi_shwrs</key>
		<string>showers.png</string>
		<key>hi_tsra</key>
		<string>chancetstorm.png</string>
		<key>hi_tsra10</key>
		<string>chancetstorm.png</string>
		<key>hi_tsra20</key>
		<string>chancetstorm.png</string>
		<key>hi_tsra30</key>
		<string>chancetstorm.png</string>
		<key>hi_tsra40</key>
		<string>chancetstorm.png</string>
		<key>hi_tsra50</key>
		<string>tstorm.png</string>
		<key>hi_tsra60</key>
		<string>tstorm.png</string>
		<key>hi_tsra70</key>
		<string>tstorm.png</string>
		<key>hi_tsra80</key>
		<string>tstorm.png</string>
		<key>hi_tsra90</key>
		<string>tstorm.png</string>
		<key>hot</key>
		<string>sunny.png</string>
		<key>mix</key>
		<string>rainandsnow.png</string>
		<key>nbkn</key>
		<string>mcloudyn.png</string>
		<key>novc</key>
		<string>mcloudyn.png</string>
		<key>nfew</key>
		<string>pcloudyn.png</string>
		<key>nra</key>
		<string>rain.png</string>
		<key>nraip</key>
		<string>rainandsnow.png</string>
		<key>nrasn</key>
		<string>rainandsnow.png</string>
		<key>nsct</key>
		<string>pcloudyn.png</string>
		<key>nscttsra</key>
		<string>chancetstormn.png</string>
		<key>nshra</key>
		<string>rain.png</string>
		<key>nskc</key>
		<string>sunnyn.png</string>
		<key>nsn</key>
		<string>snow.png</string>
		<key>ntsra</key>
		<string>tstormn.png</string>
		<key>nwind</key>
		<string>wind.png</string>
		<key>ra</key>
		<string>showers.png</string>
		<key>raip</key>
		<string>rainandsnow.png</string>
		<key>rasn</key>
		<string>rainandsnow.png</string>
		<key>sct</key>
		<string>pcloudy.png</string>
		<key>scttsra</key>
		<string>chancetstorm.png</string>
		<key>shra</key>
		<string>rain.png</string>
		<key>skc</key>
		<string>sunny.png</string>
		<key>sn</key>
		<string>snow.png</string>
		<key>tsra</key>
		<string>chancetstorm.png</string>
		<key>wind</key>
		<string>wind.png</string>
		<key>unknown</key>
		<string>na.png</string>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>zipurl</key>
	<string>http://www.srh.noaa.gov/zipcity.php?inputstring=%@</string>
</dict>
</plist>
