<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeatherData</key>
	<array>
		<dict>
			<key>key</key>
			<string>City</string>
			<key>left</key>
			<string>&lt;h1&gt;</string>
			<key>right</key>
			<string>&lt;/h1&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Description</string>
			<key>left</key>
			<string>alt="</string>
			<key>right</key>
			<string>"</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Temperature</string>
			<key>left</key>
			<string>&lt;span&gt;</string>
			<key>right</key>
			<string>&lt;/span&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Wind</string>
			<key>left</key>
			<string>Wind:</string>
			<key>right</key>
			<string>&amp;nbsp</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Pressure</string>
			<key>left</key>
			<string>Pressure:</string>
			<key>right</key>
			<string>&amp;nbsp</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Wind Chill</string>
			<key>left</key>
			<string>Windchill:</string>
			<key>right</key>
			<string>&amp;nbsp;&amp;#176;F</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Humidity</string>
			<key>left</key>
			<string>Humidity:</string>
			<key>right</key>
			<string>%</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Date</string>
			<key>left</key>
			<string>Updated &amp;mdash;</string>
			<key>right</key>
			<string>on</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast Zip</string>
			<key>left</key>
			<string>Forecast for</string>
			<key>right</key>
			<string>&lt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>count</key>
			<integer>5</integer>
			<key>key</key>
			<string>repeat</string>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast</string>
			<key>left</key>
			<string>&lt;span&gt;</string>
			<key>right</key>
			<string>&lt;/span&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-image</string>
			<key>left</key>
			<string>conds/2005/</string>
			<key>right</key>
			<string>.gif</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-description</string>
			<key>left</key>
			<string>&lt;div&gt;</string>
			<key>right</key>
			<string>&lt;/div&gt;</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-temperature</string>
			<key>left</key>
			<string>H </string>
			<key>right</key>
			<string>&amp;deg</string>
			<key>stripTags</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>Forecast-skip1</string>
			<key>left</key>
			<string>click</string>
			<key>right</key>
			<string>showDetails</string>
			<key>stripTags</key>
			<true/>
		</dict>
	</array>
	<key>WeatherImages</key>
	<dict>
		<key>chanceflurries</key>
		<string>flurries.png</string>
		<key>chancerain</key>
		<string>showers.png</string>
		<key>chancesleet</key>
		<string>blizzard.png</string>
		<key>chancesnow</key>
		<string>snow.png</string>
		<key>chancetstorms</key>
		<string>chancetstorm.png</string>
		<key>clear</key>
		<string>sunny.png</string>
		<key>cloudy</key>
		<string>cloudy.png</string>
		<key>flurries</key>
		<string>snowshowers.png</string>
		<key>fog</key>
		<string>fog.png</string>
		<key>hazy</key>
		<string>hazy.png</string>
		<key>mostlycloudy</key>
		<string>mcloudy.png</string>
		<key>mostlysunny</key>
		<string>sunny.png</string>
		<key>nt_chanceflurries</key>
		<string>flurries.png</string>
		<key>nt_chancerain</key>
		<string>showers.png</string>
		<key>nt_chancesleet</key>
		<string>blizzard.png</string>
		<key>nt_chancesnow</key>
		<string>snow.png</string>
		<key>nt_chancetstorms</key>
		<string>chancetstormn.png</string>
		<key>nt_clear</key>
		<string>sunnyn.png</string>
		<key>nt_cloudy</key>
		<string>cloudy.png</string>
		<key>nt_flurries</key>
		<string>snowshowers.png</string>
		<key>nt_fog</key>
		<string>fog.png</string>
		<key>nt_hazy</key>
		<string>hazy.png</string>
		<key>nt_mostlycloudy</key>
		<string>mcloudyn.png</string>
		<key>nt_mostlysunny</key>
		<string>sunnyn.png</string>
		<key>nt_partlycloudy</key>
		<string>pcloudyn.png</string>
		<key>nt_partysunny</key>
		<string>pcloudyn.png</string>
		<key>nt_rain</key>
		<string>rain.png</string>
		<key>nt_sleet</key>
		<string>rainandsnow.png</string>
		<key>nt_snow</key>
		<string>snow.png</string>
		<key>nt_sunny</key>
		<string>sunnyn.png</string>
		<key>nt_tstorms</key>
		<string>tstormn.png</string>
		<key>nt_unknown</key>
		<string>na.png</string>
		<key>partlycloudy</key>
		<string>pcloudy.png</string>
		<key>partysunny</key>
		<string>pcloudy.png</string>
		<key>rain</key>
		<string>rain.png</string>
		<key>sleet</key>
		<string>rainandsnow.png</string>
		<key>snow</key>
		<string>snow.png</string>
		<key>sunny</key>
		<string>sunny.png</string>
		<key>tstorms</key>
		<string>tstorm.png</string>
		<key>unknown</key>
		<string>na.png</string>
	</dict>
	<key>version</key>
	<string>1</string>
	<key>zipurl</key>
	<string>http://www.wund.com/cgi-bin/findweather/getForecast?query=%@</string>
</dict>
</plist>
