{
    ApplicationDescription = "File Synchronizer";
    ApplicationIcon = "StepSync.tiff";
    ApplicationName = StepSync;
    ApplicationRelease = "1.1";
    Authors = (
	"Riccardo Mottola"
    );
    CFBundleIdentifier = "org.gap.StepSync";
    Copyright = "Copyright (C) 2017-2025";
    CopyrightDescription = "Released under GPL v2+";
    FullVersionID = "1.1";
    GSHelpContentsFile = "StepSync.help";
    NSExecutable = StepSync;
    NSIcon = "StepSync.tiff";
    NSMainNibFile = "MainMenu.gorm";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    URL = "http://gap.nongnu.org/stepsync/";
}
