Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
autom4te.cache
.deps
.libs
*.o
*.lo
*.la
stamp-h1
doxygen.log
Doxyfile
docs
