{
    GSThemeAuthors = (
	"Riccardo Mottola	"
    );
    GSThemeDetails = "Windows classic them\000\000\000e\000\000";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = YES;
	NSMenuInterfaceStyle = NSWindows95InterfaceStyle;
	NSScrollViewInterfaceStyle = NSWindows95InterfaceStyle;
	NSScrollerInterfaceStyle = NSWindows95InterfaceStyle;
    };
    GSThemeIcon = Thematic.png;
    GSThemeTiles = {
	GSScrollerDownArrow = {
	    FileName = GSScrollerDownArrow.tif;
	    HorizontalDivision = 3;
	    VerticalDivision = 3;
	};
	GSScrollerUpArrow = {
	    FileName = GSScrollerUpArrow.tif;
	    HorizontalDivision = 2;
	    VerticalDivision = 2;
	};
	GSScrollerVerticalKnob = {
	    FileName = GSScrollerVerticalKnob.tif;
	    HorizontalDivision = 3;
	    VerticalDivision = 4;
	};
    };
}