{
    ApplicationDescription = "G\U00FCnthers reliable RSS Reader";
    ApplicationName = Grr;
    ApplicationRelease = 1.1;
    ApplicationIcon = Grr-Icon;
    NSIcon = Grr-Icon;
    Authors = (
        "GNUstep Application Team",
	"G\U00FCnther Noack <guenther@unix-ag.uni-kl.de>",
        "Riccardo Mottola"
    );
    CFBundleIdentifier = "org.gap.Grr";
    URL = "http://gap.nongnu.org/grr/";
    Copyright = "Copyright GNUstep Application Project team 2006-2013";
    CopyrightDescription = "Released under the terms of the GNU General Public License";
    NSTypes = (
	{
		NSDocumentClass = NSDocumentClass;
		NSHumanReadableName = "Web feed";
		NSIcon = FeedFile;
		NSName = "WebFeed";
		NSRole = "";
		NSUnixExtensions = (
			rdf, RDF, xml, XML, rss, RSS, atom, ATOM
		);
	},
	{
		NSDocumentClass = NSDocumentClass;
		NSHumanReadableName = "Stores Grr article";
		NSIcon = ArticleFile;
		NSName = "WebFeed article";
		NSRole = "";
		NSUnixExtensions = (
			rssarticle
		);
	}
    );
}
